# protected config file
Redirect 403 /eat/data/config.json

RewriteEngine On
RewriteBase /eat

# region view
RewriteRule ^region/([\w]+)$ index.html?region=$1 [NC,L]

# picked log api
RewriteRule ^api/picked-log$ api/api.php?type=picked-log [NC,L]
RewriteRule ^api/picked-log/([0-9]+)$ api/api.php?type=picked-log&pid=$1 [NC,L]

# restaurant list api
RewriteRule ^api/restaurant$ api/api.php?type=restaurant [NC,L]
RewriteRule ^api/restaurant/([\w]+)$ api/api.php?type=restaurant&list=$1 [NC,L]

# region list api
RewriteRule ^api/region$ api/api.php?type=region [NC,L]

# web info api
RewriteRule ^api/web-info$ api/api.php?type=web-info [NC,L]

# rank api
RewriteRule ^api/rank$ api/api.php?type=rank [NC,L]
RewriteRule ^api/rank/restaurant$ api/api.php?type=rank&rank-type=restaurant [NC,L]
RewriteRule ^api/rank/country$ api/api.php?type=rank&rank-type=country [NC,L]
