Redirect 403 /eat/data/config.json
Redirect 403 /eat/data/

RewriteEngine On
RewriteBase /eat
RewriteRule ^api/log$ api/log.php [NC,L]
RewriteRule ^api/log/([0-9]+)$ api/log.php?pid=$1 [NC,L]
RewriteRule ^api/res$ api/res.php [NC,L]
RewriteRule ^api/res/([\w]+)$ api/res.php?list=$1 [NC,L]
RewriteRule ^api/reg$ api/reg.php [NC,L]
