<!DOCTYPE html>
<html lang="zh-TW">
	<head>
        <title>吃什麼 | LuSkywalker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <link rel="icon" type="image/png" href="images/favicon.png">

        <!-- JavaScript -->
        <script src="/cdn/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="/cdn/vuejs/vue.min.js"></script>
        <script src="/cdn/vuejs/httpVueLoader.js"></script>
        <script src="/cdn/font-awesome/font-awesome5.js" crossorigin="anonymous"></script>
        <script src="/cdn/sweetalert2/sweetalert2.all.min.js"></script>
        <script src="/cdn/axios/axios.min.js"></script>
        <script src="/cdn/js-cookie/js.cookie.min.js"></script>
        <script src="/cdn/echarts/echarts.min.js"></script>

        <!-- CSS -->
        <link href="/cdn/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/cdn/sweetalert2/dark.css?v=2102242355" rel="stylesheet" type="text/css">
        <link href="/eat/styles/main.css?v=2103250149" rel="stylesheet" type="text/css">
        <link href="/eat/styles/helper.css?v=2103212325" rel="stylesheet" type="text/css">
	</head>
<body class="min-vh-100 d-flex flex-column">
    <header id="vue-header">
        <nav-bar title="吃什麼" :theme="darkTheme" :picked="picked" v-model="darkTheme"></nav-bar>
    </header>

    <main class="container" id="app">
        <div class="main-inner">
            <cookies-accept v-if="needAccept === true" v-model="needAccept"></cookies-accept>

            <!-- picker option card -->
            <picker :regions="regionList" :current="selectedRegion" :restaurants="restaurants" :started="started" v-model="selectedRegion"></picker>

            <!-- history card -->
            <history :histories="fullEntries"></history>

            <!-- restaurant list cards -->
            <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
                <div class="col">
                    <restaurant-list :theme="darkTheme" type="brunch" :restaurants="restaurants.brunch" :region="selectedRegion"></restaurant-list>
                </div>                
                <div class="col">
                    <restaurant-list :theme="darkTheme" type="dinner" :restaurants="restaurants.dinner" :region="selectedRegion"></restaurant-list>                    
                </div>
            </div>

            <!-- region list card -->
            <region-list :theme="darkTheme" :regions="regionList"></region-list>

            <!-- rank cards -->
            <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
                <div class="col">
                    <restaurant-rank type="brunch" :ranked="ranked.brunchRank" :entries="fullEntries"></restaurant-rank>
                </div>                
                <div class="col">
                    <restaurant-rank type="dinner" :ranked="ranked.dinnerRank" :entries="fullEntries"></restaurant-rank>
                </div>     
                <div class="col">    
                    <visitor-rank :theme="darkTheme" :ranked="ranked.countryRank"></visitor-rank>
                </div>         
                <div class="col">  
                    <picked-time-rank :theme="darkTheme" :ranked="fullEntries"></picked-time-rank>  
                </div>     
            </div>
        </div>
    </main>

    <footer class="page-footer" id="footer">
        <copyright :theme="darkTheme" :year="copyrightYear" :version="versionNumber"></copyright>
        <b2t :theme="darkTheme"></b2t>
    </footer>

    <!-- application JavaScript -->
    <script src="/eat/scripts/helper/api.js?v=2102171618"></script>
    <script src="/eat/scripts/helper/toast.js?v=2102211953"></script>
    <script src="/eat/scripts/views/app.js?v=2103250124"></script>
    <script src="/eat/scripts/views/footer.js?v=2140237237"></script>
    <script src="/eat/scripts/views/header.js?v=2103240237"></script>
</body>
</html>