body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-inner {
    align-self: center;
}

main {
    flex: 3 0 auto;
}

.main-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-inner .main-inner-item {
    align-self: center;
}