html {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

body {
    display: flex;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    flex-direction: column;
    font-family: 'Noto Sans TC', sans-serif;
}

header {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-inner {
    align-self: center;
}

.header-inner h1 {
    font-family: 'Noto Serif TC', serif;
    font-weight: 900;
    color: var(--header-color);
    text-shadow: 2.5px 2.5px 2px rgba(158,158,158 ,.5);
    letter-spacing: 10px;
}

main {
    flex: 3 0 auto;
}

.main-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-inner .main-inner-item {
    align-self: center;
}

.main-inner #which-picker {
    padding: 2rem;
}

.page-footer {
    font-size: .9rem;
    background: transparent;
}

.page-footer .footer-copyright {
    background: transparent;
}

.modal {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.modal .modal-footer {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.modal .modal-footer a {
    color: var(--primary-color);
}

#restaurant-result #result b {
    font-size: 1.5em;
    letter-spacing: 3px;
}

.setting-modal-trigger i {
    padding-left: 1rem;
    vertical-align: sub;
}

.chips .input {
    color: var(--label-color);
}

.chips .input::placeholder {
    color: var(--placeholder-color);
}

.chip {
    background-color: var(--secondary-bg);
    color: var(--secondary-color);
}