@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1C2024;
        --list-bg-hover-color: #212529;
        --list-border-color: rgba(255, 255, 255, .125);
        --form-border-color: #7F8387;
        --table-border-color: #313234;
        --thead-border-color: #313234;
        --text-color: #fff;
        --text-first: #fac858;
        --text-link: #539bf5;
        --shadow-lg: 0 .5rem 1rem rgba(255, 255, 255, .15) !important;
        --drop-down-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%239CADBF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff;
        --list-bg-hover-color: #f8f9fa;
        --list-border-color: rgba(0, 0, 0, .125);
        --form-border-color: #ced4da;
        --table-border-color: #dee2e6;
        --text-color: #212529;
        --text-first: #E5B751;
        --text-link: #0366d6;
        --shadow-lg: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        --drop-down-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    }
}

body.dark {
    --bg-color: #1C2024;
    --list-bg-hover-color: #212529;
    --list-border-color: rgba(255, 255, 255, .125);
    --form-border-color: #7F8387;
    --table-border-color: #313234;
    --thead-border-color: #313234;
    --text-color: #fff;
    --text-first: #fac858;
    --text-link: #539bf5;
    --shadow-lg: 0 .5rem 1rem rgba(255, 255, 255, .15) !important;
    --drop-down-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%239CADBF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

body.light {
    --bg-color: #fff;
    --list-bg-hover-color: #f8f9fa;
    --list-border-color: rgba(0, 0, 0, .125);
    --form-border-color: #ced4da;
    --table-border-color: #dee2e6;
    --text-color: #212529;
    --text-first: #E5B751;
    --text-link: #0366d6;
    --shadow-lg: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    --drop-down-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

body,
.card,
.form-select,
.table,
.form-control,
.list-group-item,
.form-control:focus {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.card,
.list-group-item {
    border-color: var(--list-border-color);
}

.form-control {
    border-color: var(--form-border-color);
}
 
.table-hover>tbody>tr:hover {
    --bs-table-accent-bg: var(--list-bg-hover-color);
    color: var(--text-color);
}

.list-group-item-action:focus, 
.list-group-item-action:hover {
    background-color: var(--list-bg-hover-color);
    color: var(--text-color);
}

.table {
    border-color: var(--table-border-color);
}

a {
    color: inherit;
}

a:hover {
    color: var(--text-link);
}

.form-select {
    background-image: var(--drop-down-icon);
}
