@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1C2024;
        --list-bg-hover-color: #212529;
        --list-border-color: rgba(255, 255, 255, .125);
        --form-border-color: #7F8387;
        --table-border-color: #313234;
        --thead-border-color: #313234;
        --text-color: #fff;
        --text-first: #fac858;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff;
        --list-bg-hover-color: #f8f9fa;
        --list-border-color: rgba(0, 0, 0, .125);
        --form-border-color: #ced4da;
        --table-border-color: #dee2e6;
        --text-color: #212529;
        --text-first: #E5B751;
    }
}

body.dark {
    --bg-color: #1C2024;
    --list-bg-hover-color: #212529;
    --list-border-color: rgba(255, 255, 255, .125);
    --form-border-color: #7F8387;
    --table-border-color: #313234;
    --thead-border-color: #313234;
    --text-color: #fff;
    --text-first: #fac858;
}

body.light {
    --bg-color: #fff;
    --list-bg-hover-color: #f8f9fa;
    --list-border-color: rgba(0, 0, 0, .125);
    --form-border-color: #ced4da;
    --table-border-color: #dee2e6;
    --text-color: #212529;
    --text-first: #E5B751;
}

body,
.card,
.form-select,
.table,
.form-control,
.list-group-item,
.form-control:focus {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.card,
.list-group-item {
    border-color: var(--list-border-color);
}

.form-control {
    border-color: var(--form-border-color);
}
 
.table-hover>tbody>tr:hover {
    --bs-table-accent-bg: var(--list-bg-hover-color);
    color: var(--text-color);
}

.list-group-item-action:focus, 
.list-group-item-action:hover {
    background-color: var(--list-bg-hover-color);
    color: var(--text-color);
}

.table {
    border-color: var(--table-border-color);
}
