@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;900&family=Open+Sans:wght@400;600;800&family=Roboto+Mono:ital@0;1&display=swap');

body {
    font-family: 'Open Sans', 'Noto Sans TC', sans-serif;
}

* {
    touch-action: manipulation;
}

header .navbar-brand {
    font-weight: 900;
}

main {
    flex: 1 0 auto;
}

footer {
    font-size: .8rem;
}

.btn-close {
    opacity: 0;
}

.list-group-item:hover .btn-close,
tr:hover .btn-close {
    opacity: .5;
}

tbody, td, tfoot, th, thead, tr {
    word-break: keep-all;
    white-space: nowrap;
}

.result-name {
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #3085d6;
}

li.list-group-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-group-item .btn-close {
    position: absolute;
    right: 3%;
}

.restuarant-name {
    width: 90%;
}

#b2t {
    transition: bottom .3s ease;
}

.first-rank {
    color: var(--text-first);
    vertical-align: bottom;
}

.first-rank .restaurant-rank-name {
    font-size: 1.2rem;
}

#accept-card {
    z-index: 1080;
    width: calc(100% - 2rem);
}

#accept-card .card {
    box-shadow: var(--shadow-lg);
}